<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyOSC</title>
        <!-- Imports necessary resources -->
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css"
            rel="stylesheet"
            type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <form class="flex flex-row justify-evenly">
            <div>
                <div class="label">
                    <span class="label-text"
                        >Enter Command and Cue Number (optional):</span
                    >
                </div>
                <div class="flex flex-col space-y-3">
                    <div class="btn btn-success" onclick="GO()">GO</div>
                    <div class="btn btn-error" onclick="STOP()">STOP</div>
                    <div class="btn" onclick="FORWARD()">FORWARD</div>
                    <div class="btn" onclick="REWIND()">REWIND</div>
                    <div class="btn btn-error" onclick="PANIC()">PANIC</div>
                </div>
            </div>
            <div class="flex flex-col" id="songlist">
                <div class="relative items-start">
                    <progress
                        class="progress progress-primary absolute w-full h-full rounded-md z-0"
                        value="0"
                        max="100"></progress>
                    <label
                        class="label cursor-pointer flex space-x-3 items-center z-10">
                        <span class="label-text text-white z-10"
                            >Current</span
                        >
                        <input
                            type="radio"
                            name="songlistradios"
                            class="radio bg-neutral z-10"
                            id="current" />
                    </label>
                </div>
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter Time amount:</span>
                </div>
                <input type="number" class="w-full max-w-xs" id="time" />
                <div class="label">
                    <span class="label-text-alt"
                        >Only applies to Forward and Rewind</span
                    >
                </div>
            </div>
        </form>
    </body>
    <script>
        let songCount = 0;
        let songList = [];
        const parser = new DOMParser();
        $.ajax({
            url: "/api/get_all_qs",
            success: function (result) {
                songCount = result.data.length;
                songList = result.data;
                result.data.forEach((element) => {
                    document.getElementById("songlist").appendChild(
                        parser.parseFromString(
                            `<div class="relative items-start">
                                <progress
                                    class="progress progress-primary absolute w-full h-full rounded-md z-0" value="0" max="100"></progress>
                                <label
                                    class="label cursor-pointer flex space-x-3 items-center z-10">
                                    <span class="label-text text-white z-10">${element[1]}</span>
                                    <input
                                        type="radio"
                                        name="songlistradios"
                                        class="radio bg-neutral z-10"
                                        id="${element[0]}" />
                                </label>
                            </div>`,
                            "text/html"
                        ).documentElement
                    );
                });
            },
        });
    </script>

    <script>
        function GO() {
            document.getElementsByName("songlistradios").forEach((element) => {
                if (element.checked) {
                    if (element.id != "current") {
                        $.ajax({ url: "/api/GO?cue=" + element.id });
                    } else {
                        $.ajax({ url: "/api/GO" });
                    }
                    element.checked = false;
                }
            });
        }

        function STOP() {
            document.getElementsByName("songlistradios").forEach((element) => {
                if (element.checked) {
                    if (element.id != "current") {
                        $.ajax({ url: "/api/STOP?cue=" + element.id });
                    } else {
                        $.ajax({ url: "/api/STOP" });
                    }
                    element.checked = false;
                }
            });
        }
        function PANIC() {
            $.ajax({ url: "/api/PANIC" });
        }
        function FORWARD() {
            document.getElementsByName("songlistradios").forEach((element) => {
                if (element.checked) {
                    if (element.id != "current") {
                        if (document.getElementById("time").value == "") {
                            $.ajax({ url: "/api/FORWARD?cue=" + element.id });
                        } else {
                            $.ajax({
                                url:
                                    "/api/FORWARD?cue=" +
                                    element.id +
                                    "&time=" +
                                    document.getElementById("time").value,
                            });
                        }
                    } else {
                        if (document.getElementById("time").value == "") {
                            $.ajax({ url: "/api/FORWARD" });
                        } else {
                            $.ajax({
                                url:
                                    "/api/FORWARD?time=" +
                                    document.getElementById("time").value,
                            });
                        }
                    }
                    element.checked = false;
                }
            });
        }

        function REWIND() {
            document.getElementsByName("songlistradios").forEach((element) => {
                if (element.checked) {
                    if (element.id != "current") {
                        if (document.getElementById("time").value == "") {
                            $.ajax({ url: "/api/REWIND?cue=" + element.id });
                        } else {
                            $.ajax({
                                url:
                                    "/api/REWIND?cue=" +
                                    element.id +
                                    "&time=" +
                                    document.getElementById("time").value,
                            });
                        }
                    } else {
                        if (document.getElementById("time").value == "") {
                            $.ajax({ url: "/api/REWIND" });
                        } else {
                            $.ajax({
                                url:
                                    "/api/REWIND?time=" +
                                    document.getElementById("time").value,
                            });
                        }
                    }
                    element.checked = false;
                }
            });
        }
    </script>
</html>
