<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyOSC Settings</title>
        <!-- Imports necessary resources -->
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css"
            rel="stylesheet"
            type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <div
            role="alert"
            class="alert alert-info flex justify-center hidden"
            id="done-message">
            <span>Done</span>
        </div>
        <div class="text-3xl flex justify-center">
            Use __cue__ as a placeholder for cue number
        </div>
        <form class="flex flex-row justify-evenly" action="/api/set_commands" method="POST">
            <div>
                <div class="label">
                    <span class="label-text">Enter GO Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueGoCommand" value="{{current_go_command}}"/>
            
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter Description Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueDescCommand" value="{{current_desc_command}}"/>
                <div class="label">
                    <span class="label-text-alt">This command should get the<br>description for the cue at playhead:</span>
                </div>
            
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter STOP Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueStopCommand" value="{{current_stop_command}}"/>
            
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter JumpFwd Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueJumpFwdCommand" value="{{current_jumpfwd_command}}"/>
            
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter JumpBack Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueJumpBackCommand" value="{{current_jumpback_command}}"/>
            
            </div>
            <div>
                <div class="label">
                    <span class="label-text">Enter Time Remaining Command:</span>
                </div>
                <input type="text" class="w-full max-w-xs" name="CueRemainingCommand" value="{{current_remaining_command}}"/>
                <div class="label">
                    <span class="label-text-alt">This command should get the<br>description for the cue at playhead:</span>
                </div>
            </div>
            <button class="btn btn-primary form-control" type="submit">Save</button>
        </form>
    </body>

    <script>
        
    </script>
</html>
